* {    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

body {
    background-color: #2A2A2A;
}

.hero_img {
    text-align: center;
}

.ota_search {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 400px;
}

.ota_search input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

.ota_search button {
    background-color: #D9534F;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 7px;
    border: none;
}

.bola_card {
    width: 230px;
    height: 330px;
    background-color: #333333;
    box-shadow: 0px 0px 15px 0px #00000080;
    border-radius: 10px;
}

.movie {
    padding-left: 9px;
    padding-top: 10px;
}

.bola_card h4 {
    font-size: 18.7px;
    font-weight: 700;
    line-height: 21.5px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.ota_p {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding-top: 10px;
}

.bola_card p {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    padding-top: 10px;
}

.bola_card button {
    font-family: Arial;
    font-size: 13.3px;
    font-weight: 400;
    line-height: 15.29px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    background-color: #5CB85C;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 7px;
    border: none;
    margin-top: 10px;
    margin-left: 70px;
}

main {
    margin-top: 50px;
}

.select {
    width: 100px;
    height: 29px;
    border-radius: 7px;
}

#box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}